<div class="container w-100 mb-5">
    <div class="row w-100 mt-5">
       
    </div>
    <div class="flexbox">
        <div>
            <img id=imagem src="https://imgur.com/DQSDNe8.png " alt="clip">
        </div>
    </div>

    <div class="col-md-12 mb-5 mt-5">
        <h2 class="text-monospace text-center text-uppercase font-weight-bold"> Como fazer parte do Clippy? </h2>
    </div>

    <div class="card-deck">
        <div class="card">
          <img class="card-img-top" src="https://imgur.com/3okoMnX.png" alt="Imagem de capa do card">
          <div class="card-body">
            <h5 class="card-title">Título do card</h5>
            <p class="card-text text-justify-content">Prigimeiro você pode fazer parte da equipe Clippy, se cadastrando na nossa plataforma.</p>
            <p class="card-text"></p>
          </div>
        </div>
        <div class="card">
          <img class="card-img-top" src="https://imgur.com/F021bWE.png" alt="Imagem de capa do card">
          <div class="card-body">
            <h5 class="card-title">Título do card</h5>
            <p class="card-text">Este é um card com suporte a texto embaixo, que funciona como uma introdução a um conteúdo adicional.</p>
            <p class="card-text"></p>
          </div>
        </div>
        <div class="card">
          <img class="card-img-top" src="https://imgur.com/VHnB6tO.png" alt="Imagem de capa do card">
          <div class="card-body">
            <h5 class="card-title">Título do card</h5>
            <p class="card-text">Este é um card maior com suporte a texto embaixo, que funciona como uma introdução a um conteúdo adicional. Este card tem o conteúdo ainda maior que o primeiro, para mostrar a altura igual, em ação.</p>
            <p class="card-text"></p>
          </div>
        </div>
      </div>
</div>