<div class="container w-100 mb-5">
    <div class="row mt-5">
      <div class="col-md-12">
        <img class="w-100 img-fluid" src="https://imgur.com/DQSDNe8.png " alt="clip">
      </div>
    </div>
    
    <div class="row">
    <div class="col-md-12 mb-5 mt-5">
        <h2 class="letra text-center text-uppercase font-weight-bold"> Como fazer parte do Clippy? </h2>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 w-100">
      <div class="card-deck">
        <div class="card">
          <img class="card-img-top" src="https://imgur.com/3okoMnX.png" alt="Imagem de capa do card">
          <div class="card-body">
            <h5 class="card-title letra font-weight-bold text-center">Primeiro passo: Cadastro/Login</h5>
            <p class="card-text text-justify-content letra text-center">Você precisa fazer parte da nossa equipe clippy, efetuado seu cadastro, na tela de cadastro, e logue na plataforma, na tela de login, assim você terá acesso ao nosso feed.</p>
            <p class="card-text"></p>
          </div>
        </div>
        <div class="card">
          <img class="card-img-top" src="https://imgur.com/F021bWE.png" alt="Imagem de capa do card">
          <div class="card-body">
            <h5 class="card-title letra font-weight-bold text-center">Segundo passo: Verificação da sua postagem</h5>
            <p class="card-text letra text-center">No Clippy abordamos as temáticas socioambientais,assim a sua postagem terá que esta dentro dessa abordagem, para garantir sua segurança, seu post passará por uma rápida verificação e logo em seguida, será apresentado no feed.</p>
            <p class="card-text"></p>
          </div>
        </div>
        <div class="card">
          <img class="card-img-top" src="https://imgur.com/VHnB6tO.png" alt="Imagem de capa do card">
          <div class="card-body">
            <h5 class="card-title letra font-weight-bold text-center">Terceiro passo: Postagem</h5>
            <p class="card-text letra text-center">Sua postagem fará parte do Clippy e contribuirá para o aprendizado dos nossos demais usuário!</p>
            <p class="card-text"></p>
          </div>
        </div>
      </div>

    </div>


  </div>

</div>
