<!-- SUB MENU FEED -->

<ul class="nav nav-tabs container justify-content-center">
    <li class="nav-item">
        <a class="nav-link fonte text-dark font-weight-bold" href="#">SOCIOLOGIA</a>
    </li>
    <li class="nav-item">
        <a class="nav-link fonte text-dark font-weight-bold" href="#">MEIO AMBIENTE</a>
    </li>
    <li class="nav-item">
        <a class="nav-link fonte text-dark font-weight-bold" href="#">ATUALIDADES</a>
    </li>
</ul>
<!-- /SUB MENU FEED -->

<!-- FOTO USUÁRIO -->
<div class="row  mt-5 d-flex justify-content-end">
    <div class="card border-0" style="width: 15rem;">
        <div class="d-flex justify-content-center ">
            <img class="card-img-top rounded-circle w-75"
                src="https://static1.purepeople.com.br/articles/4/25/80/44/@/2933282-miley-cyrus-aposta-em-look-decotado-para-624x600-1.jpg"
                alt="Imagem de capa do card">
        </div>
        <div class="card-body">
            <h5 class="card-title text-center text-monospace text-uppercase">Miley Cyrus</h5>
        </div>
    </div>
    <!-- /FOTO USUÁRIO -->

    <!-- BOTÕES DE POSTAGEM-->
    <div class="col-md-3 d-flex justify-content-end">
        <div class="card border-0" style="width: 10rem;">
            <div class="card-body">
                <div class="d-flex justify-content-end">
                    <img class="card-img-top rounded-circle"
                        src="https://static.vecteezy.com/system/resources/previews/000/577/263/non_2x/pencil-icon-vector-illustration.jpg"
                        alt="Imagem de capa do card">
                </div>
                <br>
                <a href="#" class="btn btn-dark d-flex justify-content-center">Criar</a>
            </div>
        </div>
    </div>
        <div class="col-md-3 d-flex justify-content-center">
            <div class="card border-0" style="width: 10rem;">
                <div class="card-body">
                    <div class="d-flex justify-content-end">
                        <img class="card-img-top rounded-circle"
                            src="https://static.vecteezy.com/system/resources/previews/000/424/708/non_2x/share-icon-vector-illustration.jpg"
                            alt="Imagem de capa do card">
                    </div>
                    <br>
                    <a href="#" class="btn btn-dark d-flex justify-content-center">Compartilhar</a>
                </div>
            </div>
        </div>
    <div class="col-md-3 d-flex justify-content-start">
        <div class="card border-0" style="width: 10rem;">
            <div class="card-body">
                <div class="d-flex justify-content-end">
                    <img class="card-img-top rounded-circle"
                        src="https://image.freepik.com/icones-gratis/enquete-de-topico_318-1970.jpg"
                        alt="Imagem de capa do card">
                </div>
                <br>
                <a href="https://forms.gle/WH8hMvDJ6biZmtSs5" target="_blank"
                    class="btn btn-dark d-flex justify-content-center">Enquete</a>
            </div>
        </div>
    </div>
    <!-- /BOTÕES DE POSTAGEM-->
</div>

<!-- POSTAGENS -->
<div class="container-fluid p-5">
    <div class="card mb-3" style="width: 80rem;">
        <div class="row no-gutters">
            <div class="col-md-4">
                <img src="https://cdn.diferenca.com/imagens/tartaruga-cagado-e-jabuti-og.jpg" class="card-img"
                    alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <p class="card-text"><small class="text-muted">POPULAR (CATEGORIA)</small></p>
                    <h5 class="card-title font-weight-bold">VIDA NA ÁGUA IMPORTA! (TÍTULO DA POSTAGEM)
                    </h5>
                    <p class="card-text">ANIMAIS MARINHOS ESTÃO AMEAÇADOS ATÉ 2050. (SUBTÍTULO DA POST.)</p>
                    <p class="card-text"><small class="text-muted">Agosto, 22.</small></p>
                    <a href="#" class="btn btn-dark">Ler mais</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid p-5">
    <div class="card mb-3" style="width: 80rem;">
        <div class="row no-gutters">
            <div class="col-md-4">
                <img src="https://geekonomics.com.br/wp-content/uploads/2019/06/orgulho-lgbt-economia-comportamental-capa.jpg"
                    class="card-img" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <p class="card-text"><small class="text-muted">EXPLORAR (CATEGORIA)</small></p>
                    <h5 class="card-title font-weight-bold">DIVERSIDADE LGBTQI+! (TÍTULO DA POSTAGEM)</h5>
                    <p class="card-text">TAXA DE HOMOFOBIA NO BRASIL DIMINUI (SUBTÍTULO DA POST.)</p>
                    <p class="card-text"><small class="text-muted">Agosto, 23.</small></p>
                    <br>
                    <a href="#" class="btn btn-dark">Ler mais</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class=" container-fluid p-5">
    <div class="card mb-3" style="width: 80rem;">
        <div class="row no-gutters">
            <div class="col-md-4">
                <img src="https://images01.brasildefato.com.br/3e4ce27410cb6108190291521385093a.jpeg" class="card-img"
                    alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <p class="card-text"><small class="text-muted">ATUALIDADES (CATEGORIA)</small></p>
                    <h5 class="card-title font-weight-bold">POVOS INDÍGENAS SILENCIADOS E AMEAÇADOS! (TÍTULO DA
                        POSTAGEM)</h5>
                    <p class="card-text">POVOS INDÍGENAS SILENCIADOS E AMEAÇADOS! (TÍTULO DA POSTAGEM)</p>
                    <p class="card-text"><small class="text-muted">Agosto, 23.</small></p>
                    <br>
                    <a href="#" class="btn btn-dark">Ler mais</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /POSTAGENS -->


<hr>
<!-- https://geekonomics.com.br/wp-content/uploads/2019/06/orgulho-lgbt-economia-comportamental-capa.jpg
https://images01.brasildefato.com.br/3e4ce27410cb6108190291521385093a.jpeg -->