<div class="container mt-3 mb-5">

    <div class="row d-flex align-items-center">
        <!-- Form -->
        <div class="col-md-8 mt-3">
            <h1 class="text-justify">Entre em contato conosco</h1>
            <form class="w-100">
                <div class="form-group">
                    <label for="inputEmail">Email</label>
                    <input type="email" class="form-control" id="inputEmail" aria-describedby="emailHelp" name="inputEmail">
                    <small id="emailHelp" class="form-text text-muted">Nós nunca iremos compartilhar seu e-mail com
                        algúem.</small>
                </div>
                <div class="form-group">
                    <label for="inputTextArea">Mensagem</label>
                    <textarea class="form-control" name="inputTextArea" id="inputTextArea" rows="7"></textarea>
                </div>
                <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#exampleModal">Enviar</button>
                <!-- Modal -->
                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Tudo certo!</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <p>Recebemos sua mensagem, muito obrigado!</p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <!-- Cards -->
        <div class="col-md-4">

            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" data-="touch true">
                <div class="carousel-inner">
                  <!-- Card 1 -->
                  <div class="carousel-item active">
                    <div class="card bg-light" style="width: 18rem;">
                        <img src="../../assets/img/angela.jfif" class="card-img-top" alt="">
                        <div class="card-body pb-0">
                            <p class="text-center nome font-weight-bold mb-2">Angela Deodato</p>
                            <p class="text-center text-primary font-weight-bold m-0">Desenvolvedora Full-Stack</p>
                            <ul class="social-network d-flex justify-content-center">
                                <li><a href="#" class="icoTwitter" title="Twitter">
                                        <fa-icon [icon]="faTwitter" class="faTwitter fa-3x p-3"></fa-icon>
                                    </a></li>
                                <li><a href="#" class="icoGithub" title="Github">
                                        <fa-icon [icon]="faGithub" class="faGithub fa-3x p-3"></fa-icon>
                                    </a></li>
                                <li><a href="#" class="icoLinkedin" title="Linkedin">
                                        <fa-icon [icon]="faLinkedin" class="faLinkedin fa-3x p-3"></fa-icon>
                                    </a></li>
                            </ul>
                        </div>
                    </div>
                  </div>
                <!-- Card 2 -->
                  <div class="carousel-item">
                    <div class="card bg-light" style="width: 18rem;">
                        <img src="../../assets/img/natalia.jfif" class="card-img-top" alt="">
                        <div class="card-body pb-0">
                            <p class="text-center nome font-weight-bold mb-2">Natália Lima</p>
                            <p class="text-center text-primary font-weight-bold m-0">Desenvolvedora Full-Stack</p>
                            <ul class="social-network d-flex justify-content-center">
                                <li><a href="#" class="icoTwitter" title="Twitter">
                                        <fa-icon [icon]="faTwitter" class="faTwitter fa-3x p-3"></fa-icon>
                                    </a></li>
                                <li><a href="#" class="icoGithub" title="Github">
                                        <fa-icon [icon]="faGithub" class="faGithub fa-3x p-3"></fa-icon>
                                    </a></li>
                                <li><a href="#" class="icoLinkedin" title="Linkedin">
                                        <fa-icon [icon]="faLinkedin" class="faLinkedin fa-3x p-3"></fa-icon>
                                    </a></li>
                            </ul>
                        </div>
                    </div>
                  </div>
                <!-- Card 3 --> 
                  <div class="carousel-item">
                    <div class="card bg-light" style="width: 18rem;">
                        <img src="../../assets/img/ana.jfif" class="card-img-top" alt="">
                        <div class="card-body pb-0">
                            <p class="text-center nome font-weight-bold mb-2">Ana Cláudia</p>
                            <p class="text-center text-primary font-weight-bold m-0">Desenvolvedora Full-Stack</p>
                            <ul class="social-network d-flex justify-content-center">
                                <li><a href="#" class="icoTwitter" title="Twitter">
                                        <fa-icon [icon]="faTwitter" class="faTwitter fa-3x p-3"></fa-icon>
                                    </a></li>
                                <li><a href="#" class="icoGithub" title="Github">
                                        <fa-icon [icon]="faGithub" class="faGithub fa-3x p-3"></fa-icon>
                                    </a></li>
                                <li><a href="#" class="icoLinkedin" title="Linkedin">
                                        <fa-icon [icon]="faLinkedin" class="faLinkedin fa-3x p-3"></fa-icon>
                                    </a></li>
                            </ul>
                        </div>
                    </div>
                  </div>
                <!-- Card 4 -->
                <div class="carousel-item">
                    <div class="card bg-light" style="width: 18rem;">
                        <img src="../../assets/img/danilo.jfif" class="card-img-top" alt="">
                        <div class="card-body pb-0">
                            <p class="text-center nome font-weight-bold mb-2">Danilo Oliveira</p>
                            <p class="text-center text-primary font-weight-bold m-0">Desenvolvedora Full-Stack</p>
                            <ul class="social-network d-flex justify-content-center">
                                <li><a href="#" class="icoTwitter" title="Twitter">
                                        <fa-icon [icon]="faTwitter" class="faTwitter fa-3x p-3"></fa-icon>
                                    </a></li>
                                <li><a href="#" class="icoGithub" title="Github">
                                        <fa-icon [icon]="faGithub" class="faGithub fa-3x p-3"></fa-icon>
                                    </a></li>
                                <li><a href="#" class="icoLinkedin" title="Linkedin">
                                        <fa-icon [icon]="faLinkedin" class="faLinkedin fa-3x p-3"></fa-icon>
                                    </a></li>
                            </ul>
                        </div>
                    </div>
                  </div>
                <!-- Card 5 -->
                  <div class="carousel-item">
                    <div class="card bg-light" style="width: 18rem;">
                        <img src="../../assets/img/pedro.jpg" class="card-img-top" alt="">
                        <div class="card-body pb-0">
                            <p class="text-center nome font-weight-bold mb-2">Pedro Barcellos</p>
                            <p class="text-center text-primary font-weight-bold m-0">Desenvolvedora Full-Stack</p>
                            <ul class="social-network d-flex justify-content-center">
                                <li><a href="#" class="icoTwitter" title="Twitter">
                                        <fa-icon [icon]="faTwitter" class="faTwitter fa-3x p-3"></fa-icon>
                                    </a></li>
                                <li><a href="#" class="icoGithub" title="Github">
                                        <fa-icon [icon]="faGithub" class="faGithub fa-3x p-3"></fa-icon>
                                    </a></li>
                                <li><a href="#" class="icoLinkedin" title="Linkedin">
                                        <fa-icon [icon]="faLinkedin" class="faLinkedin fa-3x p-3"></fa-icon>
                                    </a></li>
                            </ul>
                        </div>
                    </div>
                  </div>

                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                    <fa-icon [icon]="faArrowLeft" class="faArrowLeft fa-2x px-2 py-0 bg-dark rounded-circle"></fa-icon>
                  <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                    <fa-icon [icon]="faArrowRight" class="faArrowRight fa-2x px-2 py-0 bg-dark rounded-circle"></fa-icon>
                  <span class="sr-only">Next</span>
                </a>
              </div>
            
        </div>
    </div>

</div>