h1{
    color: #E6615A;
}

.nome{
    font-size: 18px;
}

ul.social-network {
    list-style: none;
    display: inline;
    padding: 0;
}
    
ul.social-network li {
    display: inline;
    margin: 0;
    padding: 5px;
}

.faTwitter{
    color: #3b5998;
}
    
.faLinkedin{
    color: #0072b1;
}
    
.faGithub{
    color: #000;
}

.carousel-control-next, .carousel-control-prev{
    border-radius: 3px;
    height: 50px;
    margin-right: 63px;
}